/*CSS Reset code*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, em, img, i, center, ol, ul, li, fieldset, form, label, figure, figcaption, footer, header, nav, section, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  overflow-x: hidden;
}

body {
  line-height: 1;
  word-wrap: break-word;
  font-size: 100%;
  overflow: hidden;
}

p {
  padding-bottom: 10px;
}

figcaption {
  font-style: italic;
}

button {
  outline: 0;
  color: inherit;
  cursor: pointer;
}

q {
  display: inline;
  font-style: italic;
}

textarea, input[type=text], input[type=button], input[type=submit], input[type=reset], input[type=search], input[type=password] input[type=number], input[type=email] {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  border-radius: 0;
  border: 2px solid transparent;
  outline: none;
  resize: none;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
  text-decoration: none;
}

/*Colors*/
/*Fonts*/
/*Mixins*/
/*Common widths: 1440px, 1200px, 1080px, 960px, 840px, 720px, 600px*/
/*Color Change Animation*/
@keyframes title-color-change {
  0% {
    color: var(--color1);
  }
  32% {
    color: var(--color1);
  }
  33% {
    color: var(--color2);
  }
  65% {
    color: var(--color2);
  }
  66% {
    color: var(--color3);
  }
  99% {
    color: var(--color3);
  }
  100% {
    color: var(--color1);
  }
}
/*Importing stylesheets*/
/*Global Styles*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Spectral", "Georgia", serif;
}

.responsiveImg {
  display: block;
  max-width: 100%;
  width: 100%;
}

.section__anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -70px;
}

.button__purple {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #7D84B2;
  transition: 0.4s box-shadow ease-in-out;
}
.button__purple:hover {
  box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #7D84B2;
}

.title__hr {
  width: 7%;
  border: 2px solid #8CA861;
  margin: 10px auto;
}

/*Font Styles*/
h1 {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 1.85rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.15rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

/*Header*/
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(125, 132, 178, 0.6);
  font-family: "Rubik", "Arial", sans-serif;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
header .header-content__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
}
@media screen and (max-width: 767px) {
  header .header-content__holder {
    padding: 15px;
  }
}
header .header-content__holder a.button__nav {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 0.15em;
}
header .header-content__holder a.button__nav::after {
  content: "";
  width: 0px;
  height: 2px;
  bottom: -2px;
  left: 10px;
  position: absolute;
  background-color: #FED766;
  transition: 0.4s width ease-in-out;
}
header .header-content__holder a.button__nav:hover {
  font-weight: 500;
}
header .header-content__holder a.button__nav:hover::after {
  width: calc(100% - 20px);
}
header .header-content__holder .header-logo__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header-content__holder .header-logo__container--img {
  max-width: 40px;
  max-height: 40px;
}
header .header-content__holder .header-logo__container .header-logo__text {
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  header .header-content__holder .mobile-navigation__holder {
    display: none;
  }
}
header .header-content__holder .mobile-navigation__holder #nav-icon {
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 3;
  background-color: inherit;
  cursor: pointer;
}
header .header-content__holder .mobile-navigation__holder #nav-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: black;
  border-radius: 10px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header .header-content__holder .mobile-navigation__holder #nav-icon span:nth-child(1) {
  top: 0px;
}
header .header-content__holder .mobile-navigation__holder #nav-icon span:nth-child(2), header .header-content__holder .mobile-navigation__holder #nav-icon span:nth-child(3) {
  top: 10px;
}
header .header-content__holder .mobile-navigation__holder #nav-icon span:nth-child(4) {
  top: 20px;
}
header .header-content__holder .mobile-navigation__holder #nav-icon.expanded-button span:nth-child(1), header .header-content__holder .mobile-navigation__holder #nav-icon.expanded-button span:nth-child(4) {
  top: 10px;
  left: 50%;
  width: 0%;
}
header .header-content__holder .mobile-navigation__holder #nav-icon.expanded-button span:nth-child(2) {
  transform: rotate(45deg);
}
header .header-content__holder .mobile-navigation__holder #nav-icon.expanded-button span:nth-child(3) {
  transform: rotate(-45deg);
}
header .header-content__holder .mobile-navigation__holder .mobile-navigation__dropdown {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  margin: 30px 15px 15px 0px;
  background: radial-gradient(circle, #FED766, #FED766);
  border-radius: 50%;
  opacity: 0;
}
header .header-content__holder .mobile-navigation__holder .mobile-navigation__dropdown nav {
  padding: 115px 0px 0px;
  width: 175px;
  text-align: right;
}
header .header-content__holder .mobile-navigation__holder .mobile-navigation__dropdown nav li {
  padding: 5px 0px;
}
header .header-content__holder .mobile-navigation__holder .mobile-navigation__dropdown nav li a.button__nav::after {
  background-color: black;
  bottom: -1px;
}
header .header-content__holder .mobile-navigation__holder .mobile-navigation__dropdown.expanded-dropdown {
  width: 250px;
  height: 300px;
  transform: translate(30%, -30%);
  opacity: 1;
  transition: 0.6s opacity ease;
}
header .header-content__holder .desktop-navigation__holder {
  display: none;
}
@media screen and (min-width: 768px) {
  header .header-content__holder .desktop-navigation__holder {
    display: block;
  }
}
header .header-content__holder .desktop-navigation__holder ul {
  display: flex;
  gap: 15px;
}

/*Hero Intro section*/
.hero-intro__section {
  background: linear-gradient(135deg, #f8f8ff 25%, transparent 25%) -50px 0/100px 100px, linear-gradient(225deg, rgba(248, 248, 255, 0.5) 25%, transparent 25%) -50px 0/100px 100px, linear-gradient(315deg, #f8f8ff 25%, transparent 25%) 0 0/100px 100px, linear-gradient(45deg, rgba(248, 248, 255, 0.5) 25%, #ffffff 25%) 0 0/100px 100px;
  background-color: #ffffff;
}
.hero-intro__section .hero-content__holder {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 115px 30px 15px;
}
@media screen and (min-width: 768px) {
  .hero-intro__section .hero-content__holder {
    padding: 85px 30px 15px;
    display: flex;
    gap: 30px;
  }
}
.hero-intro__section .hero-content__holder--text {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .hero-intro__section .hero-content__holder--text {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
  }
}
.hero-intro__section .hero-content__holder--text .hero-socials__holder {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-top: 2px solid #8CA861;
  margin-top: 25px;
  gap: 15px;
}
.hero-intro__section .hero-content__holder--text .hero-socials__holder .social-icon__container a {
  display: block;
  font-size: 25px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.hero-intro__section .hero-content__holder--text .hero-socials__holder .social-icon__container a:hover {
  background-color: rgba(254, 215, 102, 0.4);
}
.hero-intro__section .hero-content__holder--text .hero-socials__holder .social-icon__container a i {
  vertical-align: middle;
}
.hero-intro__section .hero-content__holder--text .hero-name {
  display: inline-block;
  font-weight: 500;
  width: 100%;
}
.hero-intro__section .hero-content__holder--text .hero-title {
  font-weight: 500;
  animation: title-color-change 5s linear infinite;
}
.hero-intro__section .hero-content__holder--text .hero-title--one {
  --color1: #7d84b2;
  --color2: #8ca861;
  --color3: #fed766;
}
.hero-intro__section .hero-content__holder--text .hero-title--two {
  --color1: #fed766;
  --color2: #7d84b2;
  --color3: #8ca861;
}
.hero-intro__section .hero-content__holder--img {
  flex: 0 1 50%;
}
@media screen and (max-width: 767px) {
  .hero-intro__section .hero-content__holder--img {
    max-width: 400px;
    margin: 30px auto 0;
  }
}

/*About Section*/
.about__section {
  background-color: #f2f1f7;
}
.about__section .about-content__holder {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.about__section .about-content__holder .about-info__holder h3 {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about__section .about-content__holder .about-info__holder h3 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .about__section .about-content__holder .about-info__holder {
    display: flex;
    gap: 75px;
  }
}
.about__section .about-content__holder .about-info__holder--text {
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .about__section .about-content__holder .about-info__holder--text {
    flex: 0 1 60%;
  }
}
.about__section .about-content__holder .about-info__holder--text p a {
  font-weight: 500;
  font-style: italic;
  color: #8CA861;
}
.about__section .about-content__holder .about-info__holder--text p a:hover {
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .about__section .about-content__holder .about-info__holder--skills {
    margin-top: 45px;
  }
}
@media screen and (min-width: 768px) {
  .about__section .about-content__holder .about-info__holder--skills {
    flex: 0 1 40%;
  }
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container {
  padding: 10px;
  background-color: white;
  border: 1px solid var(--icon-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container i {
  font-size: 1.5rem;
  color: var(--icon-color);
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container span {
  font-weight: 500;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--html {
  --icon-color: #ce441e;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--css {
  --icon-color: #254bdd;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--js {
  --icon-color: #e2c430;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--react {
  --icon-color: #5ed3f3;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--github {
  --icon-color: #000000;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--git {
  --icon-color: #f05030;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--sass {
  --icon-color: #c96195;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--wordpress {
  --icon-color: #207196;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--accessibility {
  --icon-color: #005a9d;
}
.about__section .about-content__holder .about-info__holder--skills .about-skills__holder .skill__container--responsive {
  --icon-color: #6f7378;
}

/*Projects Section*/
.projects-content__holder {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 30px;
}
.projects-content__holder h2, .projects-content__holder span {
  display: block;
  text-align: center;
}
.projects-content__holder .project-previews__holder {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}
.projects-content__holder .project-previews__holder .project-preview__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .projects-content__holder .project-previews__holder .project-preview__container {
    flex-direction: row;
    align-items: center;
    gap: 75px;
  }
}
.projects-content__holder .project-previews__holder .project-preview__container--img {
  flex: 0 1 60%;
}
.projects-content__holder .project-previews__holder .project-preview__container--img img {
  max-width: 450px;
  margin: 0 auto;
}
.projects-content__holder .project-previews__holder .project-preview__container--text {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .projects-content__holder .project-previews__holder .project-preview__container--text {
    align-items: flex-start;
    text-align: left;
  }
}
.projects-content__holder .project-previews__holder .project-preview__container--text .project-buttons__holder {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.projects-content__holder .project-previews__holder .project-preview__container--text .project-buttons__holder a {
  color: white;
}

/*Contact Section*/
.contact__section {
  background-color: #f2f1f7;
}
.contact__section .contact-content__holder {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 30px 50px;
}
@media screen and (min-width: 768px) {
  .contact__section .contact-content__holder {
    padding: 15px 30px 90px;
  }
}
.contact__section .contact-content__holder h2, .contact__section .contact-content__holder span {
  display: block;
  text-align: center;
}
.contact__section .contact-content__holder .contact__form {
  max-width: 600px;
  width: 100%;
  margin: 30px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.contact__section .contact-content__holder .contact__form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px #FED766;
}
.contact__section .contact-content__holder .contact__form textarea {
  width: 100%;
  resize: none;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px #FED766;
}
.contact__section .contact-content__holder .contact__form button {
  display: inline-flex;
  align-self: flex-start;
}

/*Footer*/
footer {
  background: url("img/footer-bg.svg");
  border-top: 5px solid #8CA861;
}
footer .footer-content__holder {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 30px;
  text-align: center;
}
footer .footer-content__holder span {
  display: inline-block;
  padding: 5px;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
